@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
body
	max-height: 100%
	overflow: hidden

//Custom Styles Here
.bg
	position: fixed
	width: 100%
	height: 100%
	background: url(../img/6703.jpg)

	top: 0
	left: 0
	opacity: 0.5

header
	width: 100%
	height: 138px
	background: #ccc
	position: relative
	z-index: 1
	top: 35px


@include keyframes(circlehoverwrap)
	0%
		transform: scale(1)
	50%
		transform: scale(1.2)
	100%
		transform: scale(1)
		background: #ccc
@include keyframes(circlehoverin)
	0%
		transform: scale(1)
	50%
		transform: scale(0.9)
	100%
		transform: scale(1)
		background: #ccc

@include keyframes(circleoutwrap)
	0%
		transform: scale(1)
	40%
		transform: scale(1.2)
	60%
		transform: scale(1)
	80%
		transform: scale(1.2)
	100%
		transform: scale(1)
		background: #ccc

$status-colors: (red: #963D3D,blue: #364961,grey: #444444,green: #264A42)


.colorpicker
	position: absolute
	left: 20px
	top: 0
	z-index: 2
	div
		width: 30px
		height: 30px
		cursor: pointer
		transition: .2s all
		margin-top: 6px
		&:first-child
			margin-top: 0px
		&.red
			background: #963D3D
		@each $status, $color in $status-colors
			&.#{$status}
				background: $color
		&:hover
			transform: scale(1.1)
			box-shadow: 0px 0px 5px 0px

@each $status, $color in $status-colors
	@include keyframes(circleoutin-#{$status})
		0%
			transform: scale(1)
		50%
			transform: scale(0.9)
		100%
			transform: scale(1)
			background: $color



@include keyframes(textup)
	0%
		top: 40%
		-webkit-filter: url(#blur)
		filter: url(#blur)
		-webkit-filter: blur(4px)
		filter: blur(4px)
	100%
		top: -391%
@include keyframes(textup2)
	0%
		top: 35%
		-webkit-filter: url(#blur)
		filter: url(#blur)
		-webkit-filter: blur(4px)
		filter: blur(4px)
	100%
		top: -355%
@include keyframes(textdown)
	0%
		top: -391%
		-webkit-filter: url(#blur)
		filter: url(#blur)
		-webkit-filter: blur(4px)
		filter: blur(4px)
	100%
		top: 40%


@include keyframes(whitecircleout)
	0%
		transform: scale(0)
	100%
		transform: scale(3)
		opacity: 0
		background: #ccc

@include keyframes(whitecirclein)
	0%
		transform: scale(3)
		opacity: 0
	100%
		transform: scale(0)
		opacity: 1
		background: #fff
@include keyframes(line)
	0%
		left: -10%
	100%
		left: 350%
@include keyframes(rotate)
	0%
		transform: rotateX(0deg)
	100%
		transform: rotateX(3600deg)
@include keyframes(rotate2)
	0%
		transform: rotateX(90deg)
	100%
		transform: rotateX(3690deg)


.circle
	width: 200px
	height: 200px
	border: 15px solid #ccc
	background: #fff
	border-radius: 200px
	overflow: hidden
	position: absolute
	cursor: pointer
	animation: 1s circleoutwrap ease both paused
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3)
	transition: .2s all

	& > div
		width: 100%
		height: 100%
		transition: .2s all
		border-radius: 200px
		position: relative
		animation: 1s circleoutin ease both paused
	@each $status, $color in $status-colors
		.#{$status} & > div
			background: $color
			animation: 1s circleoutinred ease both paused
	span
		display: block
		color: #fff
		font-size: 20px
		text-align: center
		margin-bottom: 90px
		text-transform: uppercase
	.text
		top: 40%
		position: absolute
		width: 100%



	.white
		width: 40px
		height: 40px
		background: #fff
		top: 50%
		left: 50%
		margin-top: -20px
		margin-left: -20px
		border-radius: 100px
		position: absolute
		transform: scale(0)
		animation: .7s whitecirclein ease both paused
	&.begin
		animation-play-state: running
		.text
			animation: .8s textdown ease both paused
		& > div,.text,.white
			animation-play-state: running

	&.animated
		cursor: pointer
		animation: .5s circlehoverwrap ease both
		& > div
			animation: .5s circlehoverin ease both
		.text
			animation: .8s textup ease both
		.white
			animation: .7s whitecircleout ease both


.center-logo
	margin: 85px auto
	position: relative
	width: 1200px
	height: 400px

	.circle-main
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3)
		width: 400px
		height: 400px
		margin: 0 auto
		border-radius: 400px
		background: #ccc
		overflow: hidden
		position: relative
		& > div:not(.text)
			width: 86%
			height: 86%
			border-radius: 100%
			background: rgba(0, 0, 0, 0.54)
			position: absolute
			box-sizing: border-box
			left: 7%
			top: 7%
		.text-wrap
			background: transparent
			overflow: hidden
		.text
			top: 42%
			position: absolute
			width: 100%
			z-index: 2
		&.animated .text
			animation: 1.5s textup2 ease-out forwards
		span
			display: block
			color: #fff
			font-size: 30px
			text-align: center
			margin-bottom: 180px
			text-transform: uppercase
		& > div:first-child
			transition: .2s all
			z-index: 2
			text-align: center
			color: #fff
			font-weight: bold
			line-height: 289px
		@each $status, $color in $status-colors
			.#{$status} & > div:first-child
				background: $color
				animation: 1s circleoutinred ease both paused
		&.animated > div:first-child
			animation: 1.5s rotate ease-out forwards
		& > div:nth-child(3)
			background: radial-gradient(#ccc,#000)
			transform: rotateX(90deg)

		&.animated > div:nth-child(3)
			animation: 1.5s rotate2 ease-out forwards
.menu-home
	left: 10%
	top: 24%

.menu-services
	right: 10%
	top: 24%

.menu-about
	left: 20%
	top: 82%
.menu-mailus
	right: 20%
	top: 82%
.menu-folio
	left: 50%
	margin-left: -100px
	top: 110%
.line
	width: 100%
	height: 1px
	background: #ccc
	position: absolute
	top: 48%
	&:after
		content: ""
		border: 5px solid transparent
		border-right-width: 10px
		border-left: 10px solid #000
		display: block
		position: absolute
		top: -5px
		left: -10%
		animation: 7s line infinite
	&.second-line
		transform: rotateZ(42deg)
		&:after
			animation-delay: 7s
	&.third-line
		transform: rotateZ(-42deg)
		&:after
			animation-delay: 9s
	&.fourth-line
		transform: rotateZ(-90deg)
		&:after
			animation-delay: 12s

//ALWAYS END
@import "media"
